#hero {
  background-image: url('../../assets/backgrounds/hero-background-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.hero__container {
  display: grid;
  justify-items: center;
  text-align: center;
  margin: auto;
  margin-top: 5rem;
}

.hero__img {
  max-width: 25rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.hero__title {
  max-width: 24rem;
  text-transform: uppercase;
}

.hero__subtitle {
  font-size: 1.25rem;
}

.hero__btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
}

.hero__img-two-cell-phone {
  width: 100%;
  max-width: 20rem;
  margin-top: 5rem;
}

@media (min-width: 512px) {
  #hero {
    background-image: url('../../assets/backgrounds/hero-background-desktop.svg');
  }

  .hero__container {
    margin-bottom: 15rem;
  }

  .hero__img-two-cell-phone {
    display: none;
  }
}

@media (min-width: 896px) {
  .hero__title {
    max-width: 50rem;
  }

  .hero__subtitle {
    font-size: 2.5rem;
  }
}
