:root {
  --primary-100: #f7b733;
  --primary-200: #fc4b1a;

  --secondary-100: #f4f4f5;
  --secondary-200: #a1a1aa;
  --secondary-300: #27272a;
  --secondary-400: #18181b;
  --secondary-500: #09090b;
}
